body {
  text-align: center;
  min-width: 400px;
  background-color: #cfcfcf;
  background-image: url("3px-tile.png");
}
header {
  margin: 10px;
  place-content: center;
}
.row {
  place-content: center;
}
.btn-group-vertical {
  width: 16.6%;
}
.btn {
  background-color: rgb(6, 12, 233);
  color: rgb(241, 241, 30);
  font-size: 2em;
  border-color: slategrey;
  height: 2em;
  width: 2em;
}
.category {
  color: rgb(245, 245, 230);
}

.intro {
  font-family: "Yellowtail", cursive;
  font-size: 2em;
}

.title {
  font-family: "Bungee", cursive;
  font-size: 1.5em;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

h1 {
  place-content: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

p {
  font-family: "Audiowide", cursive;
  font-size: 1.5em;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.invisible {
  display: hidden;
}
